[Unit]
Description=Chronos
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill chronos
ExecStartPre=-/usr/bin/docker rm chronos
ExecStartPre=/usr/bin/docker pull tobilg/chronos:latest
ExecStart=/usr/bin/sh -c "/usr/bin/docker run \
    --name chronos \
    -v /etc/localtime:/etc/localtime:ro \
    -e CHRONOS_HOSTNAME=%%LOCAL_IP%% \
    -e CHRONOS_MESOS_MASTER=%%MESOS_ZK%% \
    -e CHRONOS_ZK_HOSTS=%%BASE_ZK%% \
    -p 8081:8081 \
    tobilg/chronos:latest"
ExecStop=/usr/bin/docker stop chronos

[Install]
WantedBy=multi-user.target