[Unit]
Description=Zookeeper
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill zookeeper
ExecStartPre=-/usr/bin/docker rm zookeeper
ExecStartPre=/usr/bin/docker pull tobilg/zookeeper:latest
ExecStart=/usr/bin/sh -c "/usr/bin/docker run \
  --net=host \
  --name=zookeeper \
  -e ZOOKEEPER_HOSTS=%%ZOOKEEPER_HOSTS%% \
  -e LOCAL_ZK_IP=%%LOCAL_IP%% \
  -p 2181:2181 \
  -p 2888:2888 \
  -p 3888:3888 \
  tobilg/zookeeper:latest"
ExecStop=/usr/bin/docker stop zookeeper

[Install]
WantedBy=multi-user.target

